# exclude all by default

*

# exceptions from `exclude all` rule
!.pnp.cjs
!.yarn
!.yarn/**
!.yarn/plugins/
!.yarn/releases/
!.yarnrc.yml
!app
!app/**
!config/
!config/**
!package.json
!public
!public/**!docker
!src/
!src/main/
!src/main/**
!tsconfig.json
!webpack.config.js
!webpack/
!webpack/**
!yarn.lock
.yarn/cache
.yarn/install-state.gz
