{% extends "template.njk" %}


{% block pageTitle %}Edit Recording {{ recording.id }} - PRE Portal{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
  <script type="text/javascript" src="/assets/js/mkplayer.js"></script>
  <script type="text/javascript" src="/assets/js/edit-request.js"></script>
  <link rel="stylesheet" href="/assets/css/mkplayer-ui.css">
{% endblock %}

{% block beforeContent %}
  {{
    govukBackLink({
      "href": "javascript:history.back()"
    })
  }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">Edits for case reference {{ recording.case_reference }}</h1>

  {% include "./video-error.njk" %}

  <div id="loading" class="govuk-!-margin-bottom-2 loading-box" style="display: block;">
    <div class="loading-container">
      <img src="/assets/images/loading-spinner.gif" alt="Loading" />
    </div>
  </div>

  <div style="text-align: right;">
    <button type="button" class="govuk-button" data-module="govuk-button" onclick="newEditReference()">Add Edit Reference</button>
  </div>

  {% include "./edit-request-reference-form.njk" %}

  <div style="text-align: right;">
    <button id="submit-button" class="govuk-button" data-module="govuk-button" onclick="onSubmit()" data-testid="">Submit</button>
  </div>

  <style>
    tr.delete-message-block {
      & > td > div.delete-message-block {
        border-left: 5px solid #d4351c;
        padding-left: 15px;

        & > p {
          margin: 0;
          color: #d4351c;
        }
      }

      input:disabled {
        border-color: #d4351c;
        opacity: 1;
        color: #00000080;
      }
    }
  </style>

{% endblock %}
